ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ul li {
    padding-left: 30px;
}

.loading-spinner {
    display: inline-block;
    margin-right: 8px;
    width: 14px;
    height: 14px;
    border: 2px solid #999;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    visibility: hidden;
    vertical-align: middle;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
